@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('Noto Sans CJK JP'), local('NotoSansJP-Regular.otf'), url('https://cdn.glitch.com/32bc6b82-779c-40c0-9dc1-0a65566c4100%2FNotoSansCJKjp-Regular.woff2?1516990299387') format('woff2');
}

* {
  letter-spacing: .025rem;
}

html {
  height: 100%;
  background-color: #FFFFCC;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

header {
  font-family: 'Supermercado One', cursive;
  font-size: 3rem;
  max-height: 100px;
  margin-bottom: 20px;
}

/* input部分 */

.input {
  display: flex;
  align-items: baseline;
  bottom: 10px;
  transform: scale(1.25);
  position: sticky;
  margin-top: 10px;
}

.input-main {
  display: inline-block;
  background-color: #f6f6f6;
  border: .5px solid #e9ebee;
  border-radius: 15px;
  width: 200px;
}

.main-text {
  display: inline-block;
  outline: 0;
  width: calc(100% - 20px);
  margin: 0 0 0 3px;
}

.main-text>p {
  margin: 0 0 0 7px;
  min-height: 24px;
  line-height: 24px;
}

.main-emoji {
  display: inline-block;
  background: url(https://cdn.glitch.com/519349ee-69f9-46d8-a611-8e57c2e46c26%2Fs.svg?1517393830645);
  position: absolute;
  width: 20px;
  height: 20px;
  right: 2px;
  bottom: 2px;
}

.input-send {
  display: inline-block;
  content: url(https://cdn.glitch.com/519349ee-69f9-46d8-a611-8e57c2e46c26%2Fsd.svg?1517393832617);
  position: absolute;
  width: 17px;
  height: 17px;
  left: 205px;
  top: 3px;
}

/* message wrap */

.main-container {
  display: block;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  background-color: #AED581;
}

/* message部分 */

/* .messageのflexでicon位置改善した */

.message {
  margin: 10px;
  display: flex;
  width: calc(100% - 20px);
}

.message-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(https://cdn.glitch.com/519349ee-69f9-46d8-a611-8e57c2e46c26%2Ficonface.png?1517440675586);
  border-radius: 50%;
}

.message-main {
  display: inline-block;
  margin: 0 10px;
  width: calc(100% - 50px - 20px);
}

.mm-name {
  color: white;
  margin: 3px 0;
}

.mm-text {
  background: #e3e8ec;
  border-radius: 10px;
  padding: 5px 10px;
  position: relative;
  left: 10px;
  display: inline-block;
  width: calc(100% - 10px - 75px);
  word-wrap: break-word;
}

.mm-text::before {
  content: url(https://cdn.glitch.com/519349ee-69f9-46d8-a611-8e57c2e46c26%2Ff.svg?1517635094118);
  /*    display: inline-block;*/
  width: 20px;
  position: absolute;
  left: -10px;
}

.mm-time {
  color: white;
  font-size: .7rem;
  margin-left: 10px;
  position: relative;
  top: 5px;
}

/* my message */

.m-message {
  margin: 10px;
  display: flex;
  width: calc(100% - 20px);
}

.m-message-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: right;
  background: url(https://cdn.glitch.com/519349ee-69f9-46d8-a611-8e57c2e46c26%2Ficonface.png?1517440675586);
  border-radius: 50%;
}

.m-message-main {
  display: inline-block;
  text-align: left;
  margin: 0 10px;
  width: calc(100% - 50px - 20px);
}

.m-mm-name {
  color: white;
  margin: 3px 0;
  text-align: right;
}

.m-mm-text {
  background: #B2EBF2;
  border-radius: 10px;
  padding: 5px 10px;
  position: relative;
  right: -10px;
  display: inline-block;
  width: calc(100% - 10px - 75px);
  word-wrap: break-word;
}

.m-mm-text::before {
  content: url(https://cdn.glitch.com/519349ee-69f9-46d8-a611-8e57c2e46c26%2Ffb.svg?1517732189251);
  width: 20px;
  position: absolute;
  right: -10px;
  transform: scale(-1, 1);
}

.m-mm-time {
  color: white;
  font-size: .7rem;
  margin-left: 10px;
  position: relative;
  top: 5px;
}
