@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('Noto Sans CJK JP'), local('NotoSansJP-Regular.otf'), url('https://cdn.glitch.com/32bc6b82-779c-40c0-9dc1-0a65566c4100%2FNotoSansCJKjp-Regular.woff2?1516990299387') format('woff2');
}

* {
  letter-spacing: .025rem;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

header {
  font-family: 'Supermercado One', cursive;
  font-size: 3rem;
}

/* input部分 */
.input {
  position: relative;
}

.main {
  display: inline-block;
  background-color: #f6f6f6;
  border: .5px solid #e9ebee;
  border-radius: 15px;
  position: relative;
  width: 200px;
}

.main-text {
  display: inline-block;
  outline: 0;
  width: calc(100% - 20px);
  margin: 0 0 0 3px;
}

.main-text>p {
  margin: 0 0 0 7px;
  min-height: 24px;
  line-height: 24px;
}

.main-emoji {
  display: inline-block;
  background: url(https://cdn.glitch.com/519349ee-69f9-46d8-a611-8e57c2e46c26%2Fs.svg?1517393830645);
  position: absolute;
  width: 20px;
  height: 20px;
  right: 2px;
  bottom: 2px;
}

.input-send {
  display: inline-block;
  content: url(https://cdn.glitch.com/519349ee-69f9-46d8-a611-8e57c2e46c26%2Fsd.svg?1517393832617);
  position: relative;
  width: 17px;
  height: 17px;
  left: -13px;
  top: 3px;
}

/* message wrap */
.main-container {
  display: block;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
}

/* message部分 */
.message {
  margin: 10px;
  display: flex;
  width: calc(100% - 25px);
}

.message-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(https://cdn.glitch.com/519349ee-69f9-46d8-a611-8e57c2e46c26%2Ficonface.png?1517440675586);
  border-radius: 50%;
}

.message-main {
  display: inline-block;
  margin: 0 10px;
}

.mm-name {
  color: #9E9E9E;
  font-size: .9rem;
}

.mm-text {
  border-radius: 12px;
  background-color: #ECEFF1;
  padding: 5px 13px;
  display: inline-block;
  max-width: 200px;
  outline: 0;
}

.mm-text:after {
  border-right: 24px solid #ECEFF1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -11px;
  top: 20px;
  content: "";
  position: absolute;
  transform: rotate(20deg);
}

.mm-time {
  color: #B0BEC5;
  font-size: .7rem;
  margin: 0 5px;
}
